html,body
{
	background-image: url('https://butovskiy.github.io/First-website/img/2.1.jpg');
	font-size: 1em;
	font-family: Google Sans;
}



form
{
	padding-left: 2em;
	color: gray;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

#price 
{
	color: gray;
	background-color: transparent;
	border: 2px solid transparent;
}

#price:hover
{
	color: gray;
	background-color: transparent;
	border: 2px solid #f2683a;
}

#calculateResult
{
	color: gray;
	background-color: transparent;
	border: 2px solid #f2683a;
}